
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  background-color: white;
}

.navbar-toggler{
  padding: 1px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
/* .carousel-caption{
  bottom: 40%;
} */
.lead{
  font-size: 2rem;
}
.display-4{
  font-size: 3rem;
}
.mission{
  background-color: white;
}
.svg-main{
  display: flex;
}
.svg-icon{
  width: 5rem;
  height: 5rem;
}

.svg-container{
  padding-right: 6rem;
}

li {
  list-style: none;
}

/* .donate:after{
  background-color: rgba(15, 226, 241, 0.664);
  content: '';
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
} */
/* .donate{
 background-image: url(/img/12.jpg);
 background-size: cover;
 position: relative;
 color: white;
} */
.grey-jumb{
  background-color: #008b7c;
  color: white;
}
.paypal{
 margin-left: 40%;
}

.navbar-light .navbar-brand{
  color: #2d4970;
}

.color-blue{
  color: #2d4970;
}
.color-red{
  background-color: #dc3545;
  color: white;
}

.circle-donate{
  position: fixed;
  bottom: 2rem;
  left: 80%;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  /* background-color: rgb(29, 143, 151); */
}
.circle-top{
  display: none;
  position: fixed;
  bottom: 6rem;
  left: 80%;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
/* .give{
  background-color: red;
  width: 4rem;
  height: 1.2rem;
  color: white;
} */
.card{
  margin: 2rem;
}

.cont-volunt-btn{
  border-radius: 20px;
}
.about-color{
  background-color: #e7e5e1;
  /* color: white; */
}
.amt{
  font-size: 0.9rem;
}

.about-us{
  background-image: url(/img/Grootfontein-namibia-jeneth-ketji-foundation.jpg);
  background-size: cover;
  color: white;
}

.projects{
  background-image: url(/img/Grootfontein-namibia-jeneth-ketji-foundation.jpg);
  background-size: cover;
  color: white;
}

footer {
    display: flex;
    background-color: rgb(255, 255, 255);
    /* position: absolute;
    width: 100%;
    height: 2rem; */
}
.foot-credit{
  background-color: #293541;
  color: white;
}
.foot-credit a {
  color: white;
}
.foot-text{
  font-size: 0.9rem;
}
.social{
  font-size: 0.9rem;
}

.social-icon a {
  border: 1px solid white;
  border-radius: 20%;
  padding: 5px;
}

.foot-credit hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.63);
}

/* .social-icon a :hover{
  color: #008b7c;
} */

/* Smaller Screens */
@media only screen and (max-width: 768px) {
  .svg-main{
    display: block;
  }
  .svg-container{
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  .lead{
    font-size: 1.5rem;
  }
  .contact-volunteer{
    display: block;
  }
  footer{
    display: block;
  }

}

/* Larger Screens */
@media (min-width: 420px) {
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
}